.caixaConteudo{
  max-width: 1000px;
  margin: auto!important;
  margin-top: 20px!important;
}

.auxilio {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}

.rounded-card {
  border-radius: 32px;
  width: 360px;
  height: 305px;
  background-color: black;
  color: white;
  animation: fadeInUp 0.6s ease-out forwards;
}

.rounded-card2 {
  border-radius: 16px;
  width: 305px;
  height: 280px;
  color: white;
  background-image: url('/assets/linguagemSimples.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadeInUp 0.6s ease-out forwards;
  animation-delay: 0.1s; /* anima depois do card principal */
}

.puloBotao{
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.tp-wrapper {
  perspective: 1000px;
}

.image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}


.image {
  position: absolute;
  top: 0;
  left: 40px;
  width: 400px;
  height: 250px;
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

.overlay {
  opacity: 0;
  z-index: 1;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.ocultarGrafico{
  display: none;
}

.textoComum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 60px;
  margin: 2%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.tituloCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 40px;
  height: 100px;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.tituloInteracao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 30px;
  height: 100px;
  color: black;
  margin: 0 auto;
  width: 100%;
}

.descInteracao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 100px;
  color: black;
  margin: 0 auto;
  width: 100%;
}

.tituloCard2.animate {
  opacity: 1;
  transform: translateY(0);
}

.titulo-animado {
  opacity: 1;
  transform: translateY(0);
}

.dummy {
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  display: flex;
  gap: 20px;
}

.dummy.animate {
  opacity: 1;
  transform: translateY(0);
}

.textoComum.animate {
  opacity: 1;
  transform: translateY(0);
}

.pergunta-card {
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 24px;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pergunta-card label {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 16px;
  display: block;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif!important;
  font-weight: 300;
  font-size: 14px;
  color: black;
}

.example-radio-button {
  font-family: "Montserrat", sans-serif!important;
  font-weight: 300;
  font-size: 14px;
  color: black;
}

button[mat-raised-button] {
  align-self: flex-start;
  background-color: #1976d2;
  color: white;
}

.fontePadrao{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: black;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: auto;
  cursor: pointer;
}

.image-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.image-container img.visible {
  opacity: 1;
  position: relative;
  z-index: 1;
}
