<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Catálogo Interativo</p>
    </mat-grid-tile>

  </mat-grid-list>


  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <h4 class="textoComum">
        Cada exemplo foi cuidadosamente elaborado para demonstrar conceitos práticos e acessíveis, mesmo para quem está começando.<br>
        Além disso, cada gráfico está associado a um padrão específico, que você pode explorar com mais profundidade no nosso catálogo detalhado.<br>
        Descubra como a Linguagem Simples pode transformar dados em visualizações impactantes com clareza e facilidade.
      </h4>
    </mat-grid-tile>

  </mat-grid-list>

</div>

<div class="caixaConteudo">

  <!--EXEMPLO 01-->

  <div style="display: flex; gap: 20px;" class="dummy">

    <!-- BLOCO DA PERGUNTA -->
    <div style="flex: .8; display: flex;">
      <mat-card class="pergunta-card" style="width: 100%; margin: auto 0; height: 300px;">
        <mat-card-content>
          <label id="example-radio-group-label">
            Observe o gráfico ao lado e responda a seguinte pergunta do gerente: "A faixa etária média de clientes ativos está entre 60 a 80 anos?"
          </label>

          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="resposta1">
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let opcao of opcoes"
              [disabled]="disable_resposta1"
              [value]="opcao">
              {{opcao}}
            </mat-radio-button>
          </mat-radio-group>

          <button mat-raised-button class="fontePadrao" (click)="checarResposta1()" [disabled]="disable_resposta1">Responder</button>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- BLOCO DE RESPOSTA/IMAGEM -->
    <div style="flex: 1.2; display: flex; flex-direction: column; justify-content: space-between;" class="perguntaCard">

      <div>
        <h1 class="tituloInteracao" style="font-size: 26px;" *ngIf="feedbackGrafico1B()" @slideInLeft>
          Você acertou! Mas não seria melhor se os dados estivessem agrupados pela ordem natural?
        </h1>

        <h1 class="tituloInteracao" style="font-size: 26px;" *ngIf="feedbackGrafico1A()" @slideInRight>
          Você errou! Se os dados estivessem agrupados pela ordem natural você não cometeria este equivoco
        </h1>
      </div>

      <div *ngIf="!disable_resposta1" style="display: flex; justify-content: center; margin: 10px 0;">
        <img [src]="img1" style="width: 70%; height: auto;border: 1px solid #ccc;" />
      </div>

      <div *ngIf="feedbackGrafico1A() || feedbackGrafico1B()" style="display: flex; gap: 10px;justify-content: center;border: 1px solid #ccc;">
        <img [src]="img2" style="width: 100%; height: auto;"  @slideInLeft />
      </div>
      <br>
      <div>
        <h4 class="descInteracao" *ngIf="feedbackGrafico1B()" @slideInLeft>
          Se os seus dados já têm uma ordem natural, como alfabética, meses do ano ou dias da semana, mantenha essa ordem no gráfico. Isso facilita a leitura e evita confusões. Quando não houver uma ordem clara, vale organizar por tamanho — do menor para o maior, ou o contrário — ou por algum critério que faça sentido para o contexto. Essa organização ajuda a tornar as informações mais fáceis de entender e reduz as chances de erro na interpretação.
        </h4>

        <h4 class="descInteracao" *ngIf="feedbackGrafico1A()" @slideInRight>
          A organização por ordem natural facilita a leitura e evita confusões. Se os seus dados já têm uma ordem natural, como alfabética, meses do ano ou dias da semana, mantenha essa ordem no gráfico pois as pessoas conseguem absorver a informação com mais facilidade. Quando não houver uma ordem clara, vale organizar por tamanho — do menor para o maior, ou o contrário — ou por algum critério que faça sentido para o contexto.
        </h4>
      </div>
      <br>
      <div style="display: flex; justify-content: center;">
        <button mat-raised-button *ngIf="feedbackGrafico1A() || feedbackGrafico1B()" (click)="catologoDetalhado(1)"
        class="fontePadrao">
          Saiba Mais
        </button>
      </div>
    </div>
  </div>

  <!--EXEMPLO 01-->

  <mat-grid-list cols="12" rowHeight="100px" *ngIf="!feedbackGrafico2() || (!feedbackGrafico1A() && !feedbackGrafico1B())">
    <mat-grid-tile colspan="12">
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <!--EXEMPLO 02-->

  <div style="display: flex; gap: 20px;" class="dummy">

    <!-- BLOCO DE FEEDBACK/IMAGENS -->
    <div style="flex: 1.2; display: flex; flex-direction: column; justify-content: space-between;">

      <!-- TÍTULO DE FEEDBACK -->


      <div>
        <h1 class="tituloInteracao" *ngIf="feedbackGrafico2()" @slideInLeft>
          Cuidado com a escolha da escala da paleta de cores do seu gráfico
        </h1>
      </div>

      <!-- IMAGENS -->
      <div *ngIf="!contador2" style="display: flex; justify-content: center; margin: 10px 0;">
        <img [src]="SP01" style="width: 70%; height: auto; border: 1px solid #ccc; border-radius: 4px;" />
      </div>

      <div *ngIf="contador2 && !feedbackGrafico2()" style="display: flex; justify-content: center; margin: 10px 0;perspective: 1000px;">
        <img [@rotate3d] [src]="SP02" style="width: 70%; height: auto; border: 1px solid #ccc; border-radius: 4px;" />
      </div>

      <div *ngIf="feedbackGrafico2()" style="display: flex; justify-content: center; gap: 10px; margin: 10px 0;">
        <img [src]="SP03" style="width: 100%; height: auto; border: 1px solid #ccc; border-radius: 4px;"  @slideInRight/>
      </div>
      <br><br>
      <!-- DESCRIÇÃO -->
      <div>
        <h4 class="descInteracao" *ngIf="feedbackGrafico2()" @slideInLeft>
          Tanto nas paletas de cores qualitativas, que usam várias cores diferentes, quanto nas sequenciais ou divergentes, que usam uma ou duas cores com variações de tom, é importante garantir que as cores estejam bem diferenciadas entre si. Se as cores forem muito parecidas, o leitor pode ter dificuldade para entender o que cada parte do gráfico representa. Isso pode causar confusão e atrapalhar a leitura dos dados. Por isso, escolha cores que contrastem bem entre si e que fiquem claras mesmo quando usadas em tamanhos pequenos ou em telas com pouca qualidade.
          <div style="display: flex; justify-content: center; margin-top: 10px;">
            <button mat-raised-button *ngIf="feedbackGrafico2()" (click)="catologoDetalhado(2)" class="fontePadrao">
              Saiba Mais
            </button>
          </div>
        </h4>
        <!-- BOTÃO CENTRALIZADO -->
      </div>



    </div>

    <!-- BLOCO DA PERGUNTA -->
    <div style="flex: 0.8; display: flex;">
      <mat-card class="pergunta-card" style="width: 100%; margin: auto 0; height: 400px;">
        <mat-card-content>
          <label id="example-radio-group-label">{{retornaTexto()}}
          </label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="resposta2">
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let opcao of opcoesRegiao"
              [disabled]="disable_resposta2"
              [value]="opcao">
              {{opcao}}
            </mat-radio-button>
          </mat-radio-group>
          <button mat-raised-button (click)="checarResposta2()" [disabled]="disable_resposta2" class="fontePadrao">Responder</button>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <!--EXEMPLO 02-->

  <mat-grid-list cols="12" rowHeight="80px">
    <mat-grid-tile colspan="12">
    </mat-grid-tile>
  </mat-grid-list>

  <!--EXEMPLO 03-->
  <mat-grid-list cols="12" rowHeight="50px" style="width:1000px;" class="dummy">
    <mat-grid-tile colspan="12" rowspan="2">
      <h2 class="auxilio">Três funcionários de um mesmo setor decidiram metrificar a aceitação de uso de um novo software e envia-las ao gestor imediato</h2>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="12" rowHeight="50px" style="width:1000px; color:white" class="dummy" >
    <mat-grid-tile colspan="12" rowspan="4">
      <canvas id="myChart" style="margin-right: 20px;"></canvas>
      <canvas id="myChart2" style="margin-right: 20px;"></canvas>
      <canvas id="myChart3"></canvas>
    </mat-grid-tile>
    <mat-grid-tile colspan="12" rowspan="1">
    </mat-grid-tile>
  </mat-grid-list>

  <div style="display: flex; gap: 20px; margin-bottom: 40px;">

    <!-- BLOCO DA PERGUNTA -->
    <div style="flex: 0.8; display: flex; align-items: center;">
      <mat-card class="pergunta-card" style="width: 100%; height: 300px;">
        <mat-card-content>
          <label id="example-radio-group-label">
            Imagine ter que interpretar um relatório onde cada cor tem um significado diferente dependendo de quem o criou?
          </label>

          <button
            mat-raised-button
            (click)="padronizar1()"
            [disabled]="disable_resposta3"
            class="fontePadrao"
            style="margin-top: 20px;">
            Padronizar
          </button>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- BLOCO DE RESPOSTA -->
    <div style="flex: 1.2; display: flex; flex-direction: column; justify-content: center;">

      <div>
        <h1 class="tituloInteracao" *ngIf="disable_resposta3">
          Padronização é essencial para uma comunicação clara e eficiente
        </h1>
      </div>

      <div>
        <h4 class="descInteracao" *ngIf="disable_resposta3">
          Ao manter o uso consistente de elementos visuais, como cores,
          garantimos que as informações sejam interpretadas corretamente e com agilidade.<br>
          Isso reduz ruídos, facilita a leitura e contribui para uma tomada de decisão mais assertiva.
        </h4>
      </div>

      <div style="display: flex; justify-content: center;">
        <button mat-raised-button *ngIf="disable_resposta3" (click)="catologoDetalhado(3)" class="fontePadrao">
          Saiba Mais
        </button>
      </div>

    </div>

  </div>

  <!--EXEMPLO 03-->

  <mat-grid-list cols="12" rowHeight="40px">
    <mat-grid-tile colspan="12">
    </mat-grid-tile>
  </mat-grid-list>

  <!--EXEMPLO 04-->

  <div style="display: flex; gap: 20px; margin-bottom: 40px;">

    <!-- BLOCO DE RESPOSTA -->
    <div style="flex: 1.2; display: flex; flex-direction: column; justify-content: center;">

      <div>
        <h1 class="tituloInteracao" *ngIf="disable_resposta4" @slideInLeft>
          Nenhuma das afirmações é verdadeira! Rotule os eixos do seu gráfico para não cair em pegadinha
        </h1>
      </div>

      <!-- IMAGEM ANTES DO FEEDBACK -->
      <div *ngIf="!disable_resposta4" style="display: flex; justify-content: center; margin: 10px 0;">
        <img [src]="graficoEixoNull" style="width: 70%; height: auto; border: 1px solid #ccc; border-radius: 4px;" />
      </div>

      <!-- IMAGEM COM FEEDBACK -->
      <div *ngIf="disable_resposta4" style="display: flex; justify-content: center; margin: 10px 0;" @slideInRight>
        <img [src]="graficoEixoCorreto" style="width: 70%; height: auto; border: 1px solid #ccc; border-radius: 4px;" />
      </div>

      <div>
        <h4 class="descInteracao" *ngIf="disable_resposta4" @slideInLeft>
          É extremamente importante realizar a rotulação dos eixos para uma informação precisa. Gráficos sem eixos com nomes tendem a deixar uma sensação de incerteza.<br><br>
          É ruim fazer seu leitor adivinhar o que você quer dizer. Fora isso, dê preferência a usar apenas uma palavra curta nos rótulos. Lembre-se dos três pilares da Linguagem Simples ao produzir um gráfico.
        </h4>
      </div>
      <br>
      <div style="display: flex; justify-content: center;">
        <button mat-raised-button *ngIf="disable_resposta4" (click)="catologoDetalhado(4)" class="fontePadrao"  @slideInLeft>
          Saiba Mais
        </button>
      </div>

    </div>

    <!-- BLOCO DA PERGUNTA -->
    <div style="flex: 0.8; display: flex; align-items: center;">
      <mat-card class="pergunta-card" style="width: 100%; height: 450px;">
        <mat-card-content>
          <label id="example-radio-group-label">
            Observando o gráfico ao lado, marque a alternativa correta
          </label>

          <mat-radio-group
            class="mat-radio-label-content"
            [(ngModel)]="resposta4">
            <mat-radio-button
              class="mat-radio-label-content"
              *ngFor="let opcao of opcoesRotulos"
              [disabled]="disable_resposta4"
              [value]="opcao.id">
              {{opcao.valor}}
            </mat-radio-button>
          </mat-radio-group>

          <button mat-raised-button (click)="checarResposta4()" [disabled]="disable_resposta4" style="margin-top: 10px;" class="fontePadrao">
            Responder
          </button>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <!--EXEMPLO 04-->
  <mat-grid-list cols="12" rowHeight="40px">
    <mat-grid-tile colspan="12">
    </mat-grid-tile>
  </mat-grid-list>
  <!--EXEMPLO 05-->

  <div div style="display: flex; gap: 20px;" class="dummy">

    <!-- BLOCO DA PERGUNTA -->
    <div style="flex: 1.3; display: flex;">

      <mat-card class="pergunta-card" style="width: 100%; margin: auto 0; height: 300px;">
        <mat-card-content>
          <label id="example-radio-group-label">
            Você criou um gráfico indicando a temperatura média dos meses dentro de um container de produtos.
            <br><br>
            Os dados estão corretos, mas a demonstração poderia melhorar, não acha?
            <br><br>
            <strong>Clique na imagem</strong> para utilizar a magia da Linguagem Simples.
          </label>
        </mat-card-content>
      </mat-card>

    </div>

    <!-- BLOCO DE IMAGEM E FEEDBACK -->
    <div style="flex: 2; display: flex; flex-direction: column; justify-content: center;">

      <div>
        <h1 class="tituloInteracao" *ngIf="resposta5Toogle"  @slideInLeft>Bem melhor, não acha? Preste atenção na faixa de valores do seus dados</h1>
      </div>

      <!-- CONTAINER DA IMAGEM COM TAMANHO CONTROLADO -->
      <div (click)="startTransition()"
           style="position: relative; width: 100%; max-width: 390px; height: 290px; margin: 20px auto; cursor: pointer; overflow: hidden;border: 1px solid #ccc">

        <img
          [src]="currentImage"
          class="image"
          [class.fade-out]="isTransitioning"
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: contain; transition: opacity 0.5s ease;"
        />
        <img
          [src]="nextImage"
          class="image overlay"
          [class.fade-in]="isTransitioning"
          (load)="onNextImageLoaded()"
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: contain; transition: opacity 0.5s ease; opacity: 0;border: 1px solid #ccc"
        />
      </div>

      <div>
        <h4 class="descInteracao" *ngIf="resposta5Toogle"  @slideInLeft>
          Monte o seu gráfico posicionando os eixos o mais próximo possível dos valores que você quer destacar. Nem sempre é necessário começar no ponto 0,0. Ajustar os eixos pode ajudar a mostrar melhor as variações ou diferenças importantes nos dados. Quando os eixos são bem definidos, o leitor entende com mais facilidade o que está sendo mostrado. Isso melhora a clareza e evita interpretações erradas. Por isso, pense sempre em como os eixos podem valorizar as informações do seu gráfico, tornando a visualização mais clara, objetiva e fácil de entender para quem está lendo.
        </h4>
      </div>
      <br>
      <div style="display: flex; justify-content: center;">
        <button mat-raised-button *ngIf="resposta5Toogle" (click)="catologoDetalhado(5)"  @slideInLeft class="fontePadrao">
          Saiba Mais
        </button>
      </div>

    </div>
  </div>

  <!--EXEMPLO 05-->

  <mat-grid-list cols="12" rowHeight="90px">
    <mat-grid-tile colspan="12">
    </mat-grid-tile>
  </mat-grid-list>

  <!--EXEMPLO 06-->

  <mat-grid-list cols="12" rowHeight="50px" style="width:1000px;">
    <mat-grid-tile colspan="12" rowspan="2">
      <h2 class="auxilio">Em uma reunião setorial de ações, foi pedido para observar a barra vermelha do gráfico</h2>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="12" rowHeight="50px" style="width:1000px; color:white" >
    <mat-grid-tile colspan="12" rowspan="8">
      <canvas id="myChartDaut" (mouseover)="alerta(false)" [style]="graficoDautonismo()"></canvas>
      <canvas id="myChartDaut2" (mouseleave)="alerta(true)" [style]="graficoNotDautonismo()"></canvas>
    </mat-grid-tile>
    <mat-grid-tile colspan="12" rowspan="1">
    </mat-grid-tile>
  </mat-grid-list>

  <div style="display: flex; gap: 20px;" class="dummy">

    <div style="flex: 0.8; display: flex;">
      <mat-card class="pergunta-card" style="width: 100%; margin: auto 0; height: 300px;">
        <mat-card-content>
          <label id="example-radio-group-label">Observando o grafico, você conseguiria responder em qual quadrimestre a cor vermelha está?<br>
            Clique no botão abaixo para ativar a lupa e coloque o cursor em cima do gráfico
          </label>
          <button mat-raised-button (click)="ativarVisualizacao()" [disabled]="resposta6Toogle" class="puloBotao" class="fontePadrao">Ativar</button>
        </mat-card-content>
      </mat-card>
    </div>

    <div style="flex: 1.2; display: flex; flex-direction: column; justify-content: space-between;" class="perguntaCard">

      <div>
        <h1 class="tituloInteracao" *ngIf="textoResposta6" @slideInLeft>
          Muita atenção a escolha das cores
        </h1>
        <h4 class="descInteracao" *ngIf="textoResposta6"  @slideInLeft>
          Nem sempre sabemos quem está lendo nossa informação. Para isso temos que pensar em uma visão mais abrangente do nosso publico pensando nas pessoas com deficiencia<br>
          Para não prejudicar a interpretação desses leitores, faça pequenas modificações nas cores para que elas tenham contrastes seguros para todas as formas de deficiência de visão colorida.
        </h4>
        <br>
        <div style="display: flex; justify-content: center;">
          <button mat-raised-button *ngIf="textoResposta6" (click)="catologoDetalhado(6)"
          class="fontePadrao">
            Saiba Mais
          </button>
        </div>
      </div>
    </div>

  </div>


  <!--EXEMPLO 06-->




</div>
