<div class="caixaConteudo">

  <div style="display: flex; gap: 20px;">

    <mat-grid-list cols="12" rowHeight="60px" style="width:400px">
      <mat-grid-tile colspan="12" rowspan="1">
        <h1 class="auxilio">Catálogo Interativo</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="5">
        <h4 class="auxilio">
          Cada exemplo foi cuidadosamente elaborado para demonstrar conceitos práticos e acessíveis, mesmo para quem está começando.<br><br>
          Além disso, cada gráfico está associado a um padrão específico, que você pode explorar com mais profundidade no nosso catálogo detalhado.<br><br>
          Descubra como transformar dados em visualizações impactantes com clareza e facilidade.
        </h4>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="50px" style="width:600px">
      <mat-grid-tile colspan="12" rowspan="9">
        <img [src]="logo" style="width:440px;height:450px"/>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <br>

  <!--EXEMPLO 01-->

  <div style="display: flex; gap: 20px;">

    <mat-grid-list cols="12" rowHeight="50px" style="width:1000px;background-color:black">
      <mat-grid-tile colspan="12" rowspan="6">
        <mat-card>
          <mat-card-content>
            <label id="example-radio-group-label">A faixa etaria media de clientes ativos esta entre 60 a 80 anos?</label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="resposta1">
                <mat-radio-button class="example-radio-button" *ngFor="let opcao of opcoes" [disabled]="disable_resposta1" [value]="opcao">{{opcao}}</mat-radio-button>
            </mat-radio-group>
            <button mat-raised-button (click)="checarResposta1()" [disabled]="disable_resposta1">Responder</button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="60px" style="width:1000px; color:white" >
      <mat-grid-tile colspan="12" rowspan="1">
        <h1 class="auxilio" *ngIf="feedbackGrafico1B()">Parabéns! Você acertou!</h1>
        <h1 class="auxilio" *ngIf="feedbackGrafico1A()">Resposta Errada!</h1>
      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="2" *ngIf="!disable_resposta1">
        <img [src]="img1" style="width:200px;height:150px"/>
      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="2" *ngIf="feedbackGrafico1A() || feedbackGrafico1B()">
        <img [src]="img2" style="width:200px;height:150px"/>
        <img [src]="img3" style="width:200px;height:150px"/>
      </mat-grid-tile>


      <mat-grid-tile colspan="12" rowspan="2">

        <h4 class="auxilio" *ngIf="feedbackGrafico1B()">
          Mas seria muito mais facil de identificar caso estivesse agrupado pela ordem natural.<br>
          Esse tipo de ordenação permite evitar equivocos e deixa a leitura dos dados mais natural e simples
        </h4>

        <h4 class="auxilio"  *ngIf="feedbackGrafico1A()">
          A ordenação dos elementos pela ordem natural evita que ocorra equivocos como esse
        </h4>
      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="1">
        <button mat-raised-button  *ngIf="feedbackGrafico1A() || feedbackGrafico1B()" (click)="catologoDetalhado(1)">Saiba Mais</button>
      </mat-grid-tile>

    </mat-grid-list>

  </div>

  <!--EXEMPLO 01-->

  <!--EXEMPLO 02-->

  <div style="display: flex; gap: 20px;">

    <mat-grid-list cols="12" rowHeight="60px" style="width:1000px; color:white" >
      <mat-grid-tile colspan="12" rowspan="1">
        <h1 class="auxilio" *ngIf="feedbackGrafico2()">Parabéns! Você acertou!</h1>

      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="2" *ngIf="!contador2">
        <img [src]="SP01" style="width:200px;height:150px"/>
      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="2" *ngIf="contador2 && !feedbackGrafico2()">
        <img [src]="SP02" style="width:200px;height:150px"/>
      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="2" *ngIf="feedbackGrafico2()">
        <img [src]="SP01" style="width:200px;height:150px"/>
        <img [src]="SP02" style="width:200px;height:150px"/>
      </mat-grid-tile>


      <mat-grid-tile colspan="12" rowspan="2">

        <h4 class="auxilio" *ngIf="feedbackGrafico2()">
            O uso correto da paleta de cores evita ambiguidades e torna o grafico mais legivel, alem de mais intuitivo
        </h4>

      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="1">
        <button mat-raised-button  *ngIf="feedbackGrafico2() || feedbackGrafico2()" (click)="catologoDetalhado(1)">Saiba Mais</button>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="50px" style="width:1000px;background-color:black">
      <mat-grid-tile colspan="12" rowspan="6">
        <mat-card>
          <mat-card-content>
            <label id="example-radio-group-label">Qual região possui o menor indice pluviometrico?</label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="resposta2">
                <mat-radio-button class="example-radio-button" *ngFor="let opcao of opcoesRegiao" [disabled]="disable_resposta2" [value]="opcao">{{opcao}}</mat-radio-button>
            </mat-radio-group>
            <button mat-raised-button (click)="checarResposta2()" [disabled]="disable_resposta2">Responder</button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </div>

  <!--EXEMPLO 02-->


  <!--EXEMPLO 03-->
  <mat-grid-list cols="12" rowHeight="50px" style="width:1000px;">
    <mat-grid-tile colspan="12" rowspan="2">
      <h2 class="auxilio">Três funcionários de um mesmo setor decidiram metrificar suas ações e<br> envia-las ao gestor imediato</h2>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="12" rowHeight="50px" style="width:1000px; color:white" >
    <mat-grid-tile colspan="12" rowspan="4">
      <canvas id="myChart"></canvas>
      <canvas id="myChart2"></canvas>
      <canvas id="myChart3"></canvas>
    </mat-grid-tile>
    <mat-grid-tile colspan="12" rowspan="1">
    </mat-grid-tile>
  </mat-grid-list>

  <div style="display: flex; gap: 5px;">

    <mat-grid-list cols="12" rowHeight="50px" style="width:400px;background-color:black">
      <mat-grid-tile colspan="12" rowspan="6">
        <mat-card>
          <mat-card-content>
            <label id="example-radio-group-label">Imagine ter que interpretar um relatório onde cada cor tem um significado diferente dependendo de quem o criou?</label>
            <button mat-raised-button (click)="padronizar1()" [disabled]="disable_resposta3" class="puloBotao">Responder</button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="50px" style="width:600px;">

      <mat-grid-tile colspan="12" rowspan="2" >

        <h1 class="auxilio" *ngIf="disable_resposta3">Padronização é essencial para uma comunicação clara e eficiente</h1>

      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="2" >


        <h4 class="auxilio" *ngIf="disable_resposta3">
          Ao manter o uso consistente de elementos visuais, como cores,
          garantimos que as informações sejam interpretadas corretamente e com agilidade.<br>
          Isso reduz ruídos, facilita a leitura e contribui para uma tomada de decisão mais assertiva.
        </h4>


      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="1">
        <button mat-raised-button  *ngIf="disable_resposta3" (click)="catologoDetalhado(3)">Saiba Mais</button>
      </mat-grid-tile>

    </mat-grid-list>

  </div>

  <!--EXEMPLO 03-->

   <!--EXEMPLO 04-->

  <div style="display: flex; gap: 5px;">

    <mat-grid-list cols="12" rowHeight="50px" style="width:600px;">

      <mat-grid-tile colspan="12" rowspan="2" >

        <h1 class="auxilio" *ngIf="disable_resposta4">Nenhuma das afirmações é verdadeira</h1>

      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="5" *ngIf="!disable_resposta4">
        <img [src]="graficoEixoNull" style="width:400px;height:250px"/>
      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="5" *ngIf="disable_resposta4">
        <img [src]="graficoEixoCorreto" style="width:400px;height:250px"/>
      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="4" >

        <h4 class="auxilio" *ngIf="disable_resposta4">
          É extremamente importante realizar a rotulação dos eixos para uma informação precisa<br>
          Gráficos sem eixos com nomes tendem a deixar uma sensação de  incerteza. É ruim fazer seu leitor adivinhar o que você quer dizer.<br>
          Fora isso, dê preferência a usar apenas uma palavra curta nos rótulos. Lembre-se dos três pilares da Linguagem Simples quando produzir um gràfico
        </h4>


      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="1">
        <button mat-raised-button  *ngIf="disable_resposta4" (click)="catologoDetalhado(3)">Saiba Mais</button>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="100px" style="width:400px;background-color:black">
      <mat-grid-tile colspan="12" rowspan="6">
        <mat-card>
          <mat-card-content>
            <label id="example-radio-group-label">Observando o gráfico ao lado, marque a alternativa correta</label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="resposta4">
                <mat-radio-button class="example-radio-button" *ngFor="let opcao of opcoesRotulos" [disabled]="disable_resposta4" [value]="opcao.id">{{opcao.valor}}</mat-radio-button>
            </mat-radio-group>
            <button mat-raised-button (click)="checarResposta4()" [disabled]="disable_resposta4">Responder</button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>



  </div>

  <!--EXEMPLO 04-->

  <!--EXEMPLO 05-->

  <div style="display: flex; gap: 5px;">

    <mat-grid-list cols="12" rowHeight="100px" style="width:400px;background-color:black">
      <mat-grid-tile colspan="12" rowspan="3">
        <mat-card>
          <mat-card-content>
            <label id="example-radio-group-label">Você criou um gráfico indicando a temperatura media dos meses dentro de um container de produtos<br>
            Os dados estão corretos, mas a demonstração poderia melhorar, não acha?<br>
            Clique na imagem para utilizar a magia da Linguagem Simples</label>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="50px" style="width:600px;">

      <mat-grid-tile colspan="12" rowspan="2" >

        <h1 class="auxilio" *ngIf="resposta5Toogle">Bem melhor, não acha?</h1>

      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="5" >
        <div (click)="startTransition()">
          <img
            [src]="currentImage"
            class="image"
            [class.fade-out]="isTransitioning"
          />
          <img
            [src]="nextImage"
            class="image overlay"
            [class.fade-in]="isTransitioning"
            (load)="onNextImageLoaded()"
          />
        </div>



      </mat-grid-tile>



      <mat-grid-tile colspan="12" rowspan="2" >

        <h4 class="auxilio" *ngIf="resposta5Toogle">
          Construa o seu gráfico com os eixos mais próximos dos valores que você deseja mostrar. <br>
          Assim a visão e interpretação para o leitor fica muito melhor
        </h4>


      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="1">
        <button mat-raised-button  *ngIf="resposta5Toogle" (click)="catologoDetalhado(3)">Saiba Mais</button>
      </mat-grid-tile>

    </mat-grid-list>





  </div>

  <!--EXEMPLO 05-->

  <!--EXEMPLO 06-->

  <mat-grid-list cols="12" rowHeight="50px" style="width:1000px;">
    <mat-grid-tile colspan="12" rowspan="2">
      <h2 class="auxilio">Em uma reunião setorial de ações, foi pedido para observar a barra vermelha do gráfico</h2>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="12" rowHeight="50px" style="width:1000px; color:white" >
    <mat-grid-tile colspan="12" rowspan="4">
      <canvas id="myChartDaut" (mouseover)="alerta(false)" [style]="graficoDautonismo()"></canvas>
      <canvas id="myChartDaut2" (mouseleave)="alerta(true)" [style]="graficoNotDautonismo()"></canvas>
    </mat-grid-tile>
    <mat-grid-tile colspan="12" rowspan="1">
    </mat-grid-tile>
  </mat-grid-list>

  <div style="display: flex; gap: 5px;">

    <mat-grid-list cols="12" rowHeight="50px" style="width:400px;background-color:black">
      <mat-grid-tile colspan="12" rowspan="6">
        <mat-card>
          <mat-card-content>
            <label id="example-radio-group-label">Observando o grafico, você conseguiria responder em qual quadrimestre a cor vermelha está?<br>
              Clique no botão abaixo para ativar a lupa e coloque o cursor em cima do gráfico
            </label>
            <button mat-raised-button (click)="ativarVisualizacao()" [disabled]="resposta6Toogle" class="puloBotao">Ativar</button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="50px" style="width:600px;">

      <mat-grid-tile colspan="12" rowspan="2" >

        <h1 class="auxilio" *ngIf="textoResposta6">Muita atenção a escolha das cores</h1>

      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="2" >


        <h4 class="auxilio" *ngIf="textoResposta6">
          Nem sempre sabemos quem está lendo nossa informação. Para isso temos que pensar em uma visão mais abrangente do nosso publico pensando nas pessoas com deficiencia<br>
          Para não prejudicar a interpretação desses leitores, faça pequenas modificações nas cores para que elas tenham contrastes seguros para todas as formas de deficiência de visão colorida.
        </h4>


      </mat-grid-tile>

      <mat-grid-tile colspan="12" rowspan="1">
        <button mat-raised-button  *ngIf="textoResposta6" (click)="catologoDetalhado(3)">Saiba Mais</button>
      </mat-grid-tile>

    </mat-grid-list>

  <!--EXEMPLO 06-->




</div>
