<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="150px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Use cores de marca com cuidado</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Muitas vezes estamos criando imagens para empresas ou organizações que já possuem uma marca ou identidade visual própria com suas cores e padrões de tipo de letra. Apesar da regra geral ser, seguir corretamente esses padrões muitas vezes eles não funcionam para certos contextos ou destaques
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="80px">
      <mat-grid-tile colspan="12" rowspan="6">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="80%" height="80%"><br>
          <p class="textoComum">
            Avalie onde é possível manter as cores da empresa ou leve alguma proposta mais interessante com cores que funcionam melhor sem deixar de apresentar a marca da empresa e outros elementos que identifiquem o material sem prejudicar a leitura do seu público. No exemplo acima, as cores não são as melhores escolhas para pessoas com deficiencia visual
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




