<div class="caixaConteudo">

  <div style="display: flex; gap: 20px;">

    <mat-grid-list cols="12" rowHeight="60px" style="width:400px">
      <mat-grid-tile colspan="12" rowspan="1">
        <h1 class="auxilio">[nome do portal TBA]</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="4">
        <h4 class="auxilio">
          Bem vindo ao Portal!<br><br>
          Vamos te mostrar como a linguagem simples pode transformar seus gráficos gerando mais clareza, mais impacto,
          mais compreensão. <br><br>Ao organizar e popularizar boas práticas de representações visuais, tornamos a informação
          acessível a todos — porque dados bem apresentados contam histórias que todos podem entender.
        </h4>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="50px" style="width:600px">
      <mat-grid-tile colspan="12" rowspan="9">
        <img [src]="logo" style="width:540px;height:450px"/>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <br>

  <div style="display: flex; gap: 20px;">

    <mat-grid-list cols="12" rowHeight="50px" style="width:400px">
      <mat-grid-tile colspan="12" rowspan="6">
        <mat-card class="rounded-card" #card>
          <mat-card-content class="rounded-card2" #cardContent>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="60px" style="width:600px">
      <mat-grid-tile colspan="12" rowspan="1">
        <h1 class="auxilio">A Linguagem Simples</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="6">
        <h4 class="auxilio">
          Linguagem Simples é uma forma de comunicar que facilita o entendimento das informações.
          Ela e baseada em três pilares principais:
          <ul>
            <li>o leitor deve ser capaz de encontrar o que precisa</li>
            <li>entender o que encontra</li>
            <li>utilizar a informação</li>
          </ul>
        </h4>
      </mat-grid-tile>
    </mat-grid-list>

  </div>

  <div style="display: flex; gap: 20px;">

    <mat-grid-list cols="12" rowHeight="60px" style="width:600px">
      <mat-grid-tile colspan="12" rowspan="1">
        <h1 class="auxilio">Gráficos Simples</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="4">
        <h4 class="auxilio">
          Criar gráficos claros exige planejamento.<br><br>
          Com as ferramentas disponíveis no mercado, ficou muito mais fácil produzi-los.<br><br>
          O uso da linguagem simples na criação desses gráficos ajuda a melhorar a compreensão e a reduzir erros.
        </h4>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="50px" style="width:600px">
      <mat-grid-tile colspan="12" rowspan="9">
        <img [src]="grafico" class="graficoLS"/>
      </mat-grid-tile>
    </mat-grid-list>

  </div>


</div>
