<div class="caixaConteudo">

  <div class="flex-container">
    <mat-grid-list cols="12" rowHeight="60px" class="mat-grid-list-text" [animateOnVisible]="'left'">
      <mat-grid-tile colspan="12" rowspan="1">
        <h1 class="tituloCard">ViSimple</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="4" >
        <h4 class="auxilio">
          Bem vindo ao Portal!<br>
          Vamos te mostrar como a linguagem simples pode transformar seus gráficos gerando mais clareza, mais impacto,
          mais compreensão. <br>
          Ao organizar e popularizar boas práticas de representações visuais, tornamos a informação acessível a todos — porque dados bem apresentados contam histórias que todos podem entender.
        </h4>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="50px" class="mat-grid-list-image" [animateOnVisible]="'left'">
      <mat-grid-tile colspan="12" rowspan="9">
        <img [src]="logo" />
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <br>

  <div class="flex-container">
    <mat-grid-list cols="12" rowHeight="50px" class="mat-grid-list-image" [animateOnVisible]="'right'">
      <mat-grid-tile colspan="12" rowspan="9">
        <img [src]="linguagemSimples" class="graficoLS"/>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="60px" class="mat-grid-list-text" [animateOnVisible]="'right'">
      <mat-grid-tile colspan="12" rowspan="1">
        <h1 class="tituloCard">A Linguagem Simples</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="4">
        <h4 class="auxilio">
          Linguagem Simples é uma forma de comunicar que facilita o entendimento das informações.
          Ela e baseada em três pilares principais (ISO 24495-1):
          <ul>
            <li>o leitor deve ser capaz de encontrar o que precisa</li>
            <li>entender o que encontra</li>
            <li>utilizar a informação</li>
          </ul>
          <br>
          A implementação desse tipo de linguagem reduz significativamente os ruídos na comunicação e facilita a transmissão de informações de maneira objetiva e eficaz. Essa clareza não só melhora a compreensão do público, mas também aumenta a confiança nas instituições, pois elas são vistas como mais transparentes e acessíveis.

        </h4>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="flex-container">
    <mat-grid-list cols="12" rowHeight="70px" class="mat-grid-list-text" [animateOnVisible]="'left'">
      <mat-grid-tile colspan="12" rowspan="1">
        <h1 class="tituloCard">Gráficos Simples</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="3">
        <h4 class="auxilio">
          A comunicação eficaz de dados e informações complexas é fundamental em um mundo saturado de informações. Os gráficos desempenham um papel crucial nesse processo, transformando números e dados em representações visuais que facilitam a compreensão<br>
          Graças a facilidade e a popularização de ferramentas, a criação de Graficos ficou muito mais simplificada. Contudo, a informação alem de representada, deve fazer sentido e ser facil de ser compreendida. Nesse ponto chega a nossa ideia de gráficos simples, que une as boas praticas de criação de gráficos com os conceitos e pilares da Linguagem Simples
        </h4>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="50px" class="mat-grid-list-image" [animateOnVisible]="'left'">
      <mat-grid-tile colspan="12" rowspan="9">
        <img [src]="grafico" class="graficoLS"/>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
