

.rounded-card {
  border-radius: 32px;
  width: 360px;
  height: 305px;
  background-color: black;
  color: white;
  animation: fadeInUp 0.6s ease-out forwards;
}

.rounded-card2 {
  border-radius: 16px;
  width: 305px;
  height: 280px;
  color: white;
  background-image: url('/assets/linguagemSimples.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadeInUp 0.6s ease-out forwards;
  animation-delay: 0.1s; /* anima depois do card principal */
}

.graficoLS{
  width:500px;
  height:500px;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Classe base */
[animateOnVisible] {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Animação padrão para cima */
.animate-visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* Animação vinda da esquerda */
.animate-left {
  animation: fadeInLeft 0.8s ease-out forwards;
}

/* Animação vinda da direita */
.animate-right {
  animation: fadeInRight 0.8s ease-out forwards;
}

.caixaConteudo{
  max-width: 1000px;
  margin: auto!important;
  margin-top: 20px!important;
}

/* Remova position absoluta para permitir alinhamento flex */
.auxilio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14px;
  height: 60px;
  margin: 2%;
}

/* Container flex para alinhar verticalmente */
.flex-container {
  display: flex;
  gap: 20px;
  align-items: center; /* <-- Isso alinha o texto verticalmente com a imagem */
}

.mat-grid-list-image {
  width: 500px !important;   /* diminui o tamanho da imagem */
  margin-left: 0;            /* gruda na esquerda do container flex */
}

.mat-grid-list-text {
  width: 700px !important;   /* aumenta o espaço do texto para compensar */
  /* opcional: margem para afastar do bloco da imagem */
  margin-left: 20px;
}

.mat-grid-list-image img {
  height: 450px;
  width: auto;
  display: block;
}

.tituloCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 40px;
  height: 100px;
}


/** refatoracao **/

.titulo1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  height: 100px;
  color: #08294A;
  text-align: left;
  line-height: 1.2;
}

.textoApoio{
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 16px;
  height: 60px;
  color: #08294A;
  text-align: left;
  line-height: 1.4;
}

.textoApoio strong {
  font-weight: 700;
}

.botoesEncaminhamento{
  position: absolute;
  left: 0px;
  background-color: #2982F0;
  font-family: 'Poppins';
  color: white;
  width: 300px;
  text-align: left; /* ainda ajuda */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px; /* opcional: espaço entre o texto e o ícone */
  padding-left: 16px; /* dá espaçamento interno à esquerda */
  height: 49px;
  border-radius: 10px;
}

.botoesEncaminhamento strong{
  font-weight: 700;
}

.mat-grid-list-image {
  width: 600px !important;
  margin-left: 10px;
}

.mat-grid-list-image img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  display: block;
  padding: 16px;
}

.bloco-container-horizontal {
  display: flex;
  justify-content: space-between; /* espaço igual entre os blocos */
  align-items: center;
  gap: 32px; /* espaço entre os blocos */
  width: 100%;
  padding: 16px;
}

.bloco-horizontal {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Poppins';
  font-size: 12px;
  color: #08294A;
}

.bloco-imagem {
  width: 48px;
  height: 48px;
}


.bloco-texto {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 8px;
  color: #08294A;
  font-weight: 700;
}

.palavra-destaque {
  color: #2982F0; /* ou qualquer outra cor que destaque */
  font-weight: 600; /* opcional: mais forte */
}

.bloco-lado-a-lado {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* <- garante que os itens vão para o início */
  gap: 12px;
  width: 100%;
}

.imagem-lateral {
  width: 32px;   /* ajuste conforme necessário */
  height: 32px;
}

.textoApoioPergunta {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 16px;
  color: #08294A;
  text-align: left;
  margin: 0;         /* <- ESSENCIAL */
  padding: 0;        /* <- ajuda também */
}


.botoesAcao{
  position: absolute;
  left: 0px;
  background-color: white;
  font-family: 'Poppins';
  color: #2982F0;
  width: 200px;
  text-align: left; /* ainda ajuda */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px; /* opcional: espaço entre o texto e o ícone */
  padding-left: 16px; /* dá espaçamento interno à esquerda */
  height: 49px;
  border-radius: 10px;
  border: 1px solid #2982F0
}

.botoesAcao strong{
  font-weight: 700;
}

.botoesAcaoVerde{
  position: absolute;
  left: 0px;
  background-color: green;
  font-family: 'Poppins';
  color: white;
  width: 200px;
  text-align: left; /* ainda ajuda */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px; /* opcional: espaço entre o texto e o ícone */
  padding-left: 16px; /* dá espaçamento interno à esquerda */
  height: 49px;
  border-radius: 10px;
  border: 1px solid white
}

.botoesAcaoVerde strong{
  font-weight: 700;
}

.tituloInteracao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 30px;
  height: 100px;
  color: black;
  margin: 0 auto;
  width: 100%;
}

.descInteracao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14px;
  height: 100px;
  margin: 2%;
}


.botoesSaibaMais{
  position: absolute;
  left: 0px;
  background-color: #2982F0;
  font-family: 'Poppins';
  color: white;
  width: 100px;
  text-align: left; /* ainda ajuda */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px; /* opcional: espaço entre o texto e o ícone */
  padding-left: 16px; /* dá espaçamento interno à esquerda */
  height: 49px;
  border-radius: 10px;
}

.botoesSaibaMais strong{
  font-weight: 700;
}


.botoesSaibaMais{
  position: absolute;
  left: 0px;
  background-color: #2982F0;
  font-family: 'Poppins';
  color: white;
  width: 150px;
  text-align: left; /* ainda ajuda */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px; /* opcional: espaço entre o texto e o ícone */
  padding-left: 16px; /* dá espaçamento interno à esquerda */
  height: 49px;
  border-radius: 10px;
}

.botoesSaibaMais strong{
  font-weight: 700;
}

.botoesReboot{
  position: relative;
  left: 0px;
  background-color: white;
  font-family: 'Poppins';
  color: #2982F0;
  width: 150px;
  text-align: left; /* ainda ajuda */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px; /* opcional: espaço entre o texto e o ícone */
  padding-left: 16px; /* dá espaçamento interno à esquerda */
  height: 49px;
  border-radius: 10px;
  border: 1px solid #2982F0;
  margin-left:5%
}

.botoesReboot strong{
  font-weight: 700;
}

.botoesSaibaMais{
  position: absolute;
  left: 0px;
  background-color: #2982F0;
  font-family: 'Poppins';
  color: white;
  width: 150px;
  text-align: left; /* ainda ajuda */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px; /* opcional: espaço entre o texto e o ícone */
  padding-left: 16px; /* dá espaçamento interno à esquerda */
  height: 49px;
  border-radius: 10px;
}

.botoesSaibaMais strong{
  font-weight: 700;
}

.botoesReboot{
  position: relative;
  left: 0px;
  background-color: white;
  font-family: 'Poppins';
  color: #2982F0;
  width: 150px;
  text-align: left; /* ainda ajuda */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px; /* opcional: espaço entre o texto e o ícone */
  padding-left: 16px; /* dá espaçamento interno à esquerda */
  height: 49px;
  border-radius: 10px;
  border: 1px solid #2982F0;
  margin-left:5%
}

.botoesReboot strong{
  font-weight: 700;
}



