<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Evite colorir grandes áreas com cores muito fortes</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Quando as cores escolhidas são muito saturadas ou intensas e elas preenchem boa parte do seu gráfico, isso torna a sua figura difícil de olhar. Por exemplo, será difícil ler os dados sem ter nossos olhos atraídos para as grandes áreas fortemente coloridas.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="80%" height="80%"><br>
          <p class="textoComum">
            Atenção: Não há problema em usar cores mais fortes para destaques ou pontos importantes desde que sejam mínimos e colocados com cuidado e propósito
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




