.caixaConteudo{
  max-width: 1000px;
  margin: auto!important;
  margin-top: 20px!important;
}

.tituloCard4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  height: 40px;
  color: white;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  background-color: #648fff;
}

.tituloCard5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  height: 40px;
  color: white;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  background-color: #785ef0;
}

.tituloCard6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  height: 40px;
  color: white;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  background-color:#dc267f;
}

.tituloCard7{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  height: 40px;
  color: white;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  background-color: #fe6100
}

.tituloCard8{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  height: 40px;
  color: white;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  background-color: #33a02c;
}

.tituloCard9{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  height: 40px;
  color: white;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  background-color: rgb(0, 0, 0);
}

.meuCard {
  width: 235px;
  height: 300px;
  position: relative;
  transition: all 0.3s ease;
  z-index: 1;
  border-radius: 8px;
}

.meuCard:hover {
  z-index: 10;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.conteudoCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  height: 60px;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #08294A;
  line-height: 1.4;
  height:200px
}

.botaoCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  height: 60px;
}

.gridCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}

.botao{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-family: 'Poppins';
  color: #2982F0;
  border-radius: 10px;
  border: 1px solid #2982F0;
  width: 150px;
}

.textoComum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: 'Poppins';
  color: #08294A;
  font-weight: 300;
  font-size: 16px;
  height: 60px;
  margin: 2%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.tituloCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  color: #08294A;
  font-weight: 700;
  font-size: 40px;
  height: 100px;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.titulo-animado {
  opacity: 1;
  transform: translateY(0);
}

.dummy {
    font-family: 'Poppins';
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  display: flex;
  gap: 20px;
}

.dummy.animate {
  opacity: 1;
  transform: translateY(0);
}

/* refatoracao */


.bloco-lado-a-lado {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* <- garante que os itens vão para o início */
  gap: 12px;
  width: 100%;
}

.imagem-lateral {
  width: 64px;   /* ajuste conforme necessário */
  height: 64px;
  margin-left: 20px;
}


.textoApoio{
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 16px;
  height: 60px;
  color: #08294A;
  text-align: left;
  line-height: 1.4;
}

.textoApoio strong {
  font-weight: 700;
}
