<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Selecione uma paleta de acordo com o tipo de dado</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          A medida que for criando os seus gráficos e usando cores para identificar suas informações você poderá escolher melhor uma paleta adequada
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Por exemplo:
         </p>
         <ul class="textoComum">
           <li>Em um gráfico de linhas você poderá escolher a paleta certa para representar as diversas linhas por cores representando um dado qualitativo</li>
           <li>Ao criar um gráfico de pizza você poderá escolher a melhor paleta para colorir as fatias do gráfico de acordo com o dado qualitativo</li>
           <li>No caso de criar um mapa colorido que representa dados quantitativos, você poderá escolher a paleta correta para esse tipo de informação</li>
         </ul>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="65%" height="65%">
          <p class="textoComum">
            A principal preocupação aqui é escolher cores que pareçam claramente distintas umas das outras e, ao mesmo tempo, serem equivalentes entre si, já que não há uma relação e todos os dados têm a mesma importância. Quando alcançamos mais de 8 categorias diferentes, encontrar cores suficientemente diferentes se torna muito difícil. Neste caso, use rótulos diretamente em vez de cores quando precisar distinguir entre mais itens.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo2" width="65%" height="65%"><br>
          <p class="textoComum">
            Essas paletas são chamadas de sequenciais. Use-as para mostrar quais valores são maiores ou menores do que os outros ou a que distância um valor específico está do outro. Fique atento! Apesar da paleta ser de uma cor única, a diferença de tons deve ser evidente. Mostrar o quão distantes dois valores específicos estão um do outro, implica que a escala de cores precisa ser percebida para variar uniformemente em toda a paleta.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo3" width="65%" height="65%">
          <p class="textoComum">
            Essas paletas são chamadas de divergentes. São utilizadas para dados que variam de positivo para negativo, temperaturas, ou qualquer outro dado que você deseje mostrar o quão distantes dois valores específicos estão um do outro. A escala de cores deve ser percebida uniformemente em toda a faixa, de forma equilibrada, de modo que a progressão das cores claras no centro para as cores escuras no exterior seja aproximadamente a mesma em qualquer direção
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo</button>
    </mat-grid-tile>
  </mat-grid-list>




