<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="150px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Seja redundante! Apresente uma informação de duas formas diferentes para facilitar a percepção</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Se tivermos itens diferentes e desejamos identificá-los por cores, por exemplo, os usuários podem não distinguir os tons da melhor forma ou falhar se os itens coloridos forem muito pequenos ou ainda as cores podem parecer semelhantes ou para pessoas que sofrem com daltonismo ou baixa visão
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Sempre que uma informação for transmitida por meio da cor ou qualquer outro canal visual, escolha outra forma de diferenciar esses itens, seja por tamanho, posição, forma, entre outros. Chamamos esse princípio de codificação redundante, assim a sua comunicação não depende inteiramente de um único modo de percepção do usuário.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="65%" height="65%">
          <p class="textoComum">
            Perceba que no primeiro gráfico todas as regiões possuem o mesmo formato de círculos, diferenciadas unicamente pelas cores. Enquanto no segundo exemplo além de coloridos de forma diferente os símbolos também são distintos (círculo, quadrado e triângulo).
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="4">
        <div class="blocoImagemTexto">
          <img [src]="exemplo2" width="65%" height="65%"><br>
          <p class="textoComum">
            Para não depender exclusivamente das cores, como no primeiro gráfico, as linhas do segundo exemplo foram diferenciadas a partir da largura da linha. Enquanto uma possui um traço mais fino, outra possui o traço mais grosso. No caso de uma impressão em preto e branco ou na leitura de um usuário com dificuldade de identificar cores, a codificação redundante irá auxiliar na identificação correta. Entretanto, tenha cuidado para manter uma diferença evidente entre cada traço, geralmente até quatro linhas podem ser utilizadas com esse recurso.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




