<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Aproveite “Espaços em branco” para deixar a visualização mais agradável</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Esses espaços são importantes para deixar zonas de descanso para olhar do leitor, funcionam como um elemento de destaque ao ter apenas um elemento cercado de um espaço em branco, entre outras funções.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>


  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="85%" height="85%"><br>
          <p class="textoComum">
            Lembre-se de deixar as margens livres, não deixar elementos muito próximos e aproveitar bem os espaços vazios para dar ênfase.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




