<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="150px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Use a mesma escala em eixos de unidades iguais.</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Quando criamos um gráfico, é muito importante ter cuidado com o jeito que mostramos os dados. Um gráfico deve ajudar as pessoas a entender a informação de forma clara e correta. Mas, se ele for feito de um jeito errado, pode acabar confundindo ou até enganando quem está vendo. Uma das coisas que mais causam erro em gráficos é o uso diferente dos espaços nos eixos — que são as linhas que mostram os valores na horizontal (deitado) e na vertical (em pé).
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Se durante a criação do gráfico não for observado a representação desses eixos, o gráfico pode parecer mostrar dados maiores ou menores do que eles realmente são. Isso acontece porque, se os espaços entre os números forem diferentes nos dois lados, o tamanho dos dados pode parecer errado.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="85%" height="85%">
          <br><br>
          <p class="textoComum">
            É importante que os dois eixos do gráfico — o da horizontal (geralmente o tempo ou categorias) e o da vertical (geralmente os números) — tenham o mesmo tipo de medida e o mesmo espaço entre os pontos. Por exemplo, se cada quadrado no eixo vertical representa 10 unidades, o eixo horizontal também deve usar esse mesmo espaço para representar 10 unidades. Assim, a distância entre dois pontos no gráfico vai significar a mesma coisa, seja na vertical ou na horizontal. Quando os dois lados usam medidas diferentes, isso pode mudar a forma como as pessoas entendem o gráfico. Um aumento pequeno pode parecer muito grande, ou uma queda grande pode parecer pequena, só por causa da forma como os eixos foram desenhados.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




