<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Não use 3D sem justificativa </p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Criar um gráfico em 3D apenas por estética não acrescenta em nada! Na verdade, cria mais problemas, pois uma projeção de objetos 3D em duas dimensões geralmente irá distorcer os seus dados.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>


  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="85%" height="85%"><br>
          <p class="textoComum">
            Além de deixar mais difícil a comparação e distribuição do elementos no espaço  Usar visualizações 3D só faz sentido quando queremos mostrar objetos que são 3D no mundo real, por exemplo, mostrar o relevo, montanhas, projetos arquitetônicos, entre outros.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




