<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Use rótulos dos dados em gráficos com um pequeno numero de valores</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Sempre que um gráfico exibe apenas um pequeno número de valores, faz sentido adicionar os números reais ao gráfico diretamente em rótulos acima dos dados. Isso aumenta a quantidade de informações transmitidas pelo gráfico sem adicionar muito ruído visual.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Essa decisão se baseia no que você considera mais relevante destacar para o seu público:
        </p>
          <ul class="textoComum">
            <li>Se é importante ter o valor exato em poucos dados, pode ser mais interessante destacar os dados e não os eixos</li>
            <li>Se a tendência geral for mais relevante e o gráfico apresenta muita informação, rótulos diretos nos dados irão poluir o visual e serão um problema</li>
          </ul>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="85%" height="85%">
          <p class="textoComum">
            É importante o leitor ter os valores exatos e com poucos dados. Repare que neste caso no segundo gráfico retiramos o eixo vertical, uma vez que os valores já estão acima dos pontos nos dados o eixo se torna desnecessário. Você poderia mantê-lo apenas se houvesse intervalos de dados sem rótulos diretos ou por motivo de redundância
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo2" width="85%" height="85%"><br>
          <p class="textoComum">
            A tendência geral é mais importante e o gráfico apresenta muitos dados. Nesta situação, os rótulos nos dados não são úteis, já que o leitor está mais interessado em visualizar o contexto geral dos dados e não um ponto específico. Além disso, o excesso de informação torna o gráfico pouco atrativo.</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




