<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="50px" [animateOnVisible]="'left'">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Sobre nós</p>
    </mat-grid-tile>

  </mat-grid-list>


  <mat-grid-list cols="12" rowHeight="50px" [animateOnVisible]="'left'">

    <mat-grid-tile colspan="12">
      <h4 class="textoComum">
        Uma breve descrição sobre os idealizadores deste projeto
      </h4>
    </mat-grid-tile>

  </mat-grid-list>

</div>


<div class="caixaConteudo">

  <br>

  <div class="flex-container">
    <mat-grid-list cols="12" rowHeight="50px" class="mat-grid-list-image" [animateOnVisible]="'right'">
      <mat-grid-tile colspan="12" rowspan="9">
        <img [src]="lucas"/>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="60px" class="mat-grid-list-text" [animateOnVisible]="'right'">
      <mat-grid-tile colspan="12" rowspan="1">
        <h1 class="auxilio">Lucas Cavalcanti</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="4">
        <h4 class="textoComum">
          Aluno do curso de Sistemas de Informação - UFF. Formado em Engenharia de Produção pela Universidade Candido Mêndes e Pós Graduado na mesma intituição no curso de Finanças e Gestão Corporativa. Apaixonado desde jovem pela área de tecnologia em especial no desenvolvimento de páginas web e soluções para os desafios empresariais. Atualmente trabalhando como desenvolvedor de softwares no setor Offshore onde cria aplicações para dar suporte as operações ship-to-ship
        </h4>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
    </mat-grid-tile>
  </mat-grid-list>

  <div class="flex-container">
    <mat-grid-list cols="12" rowHeight="70px" class="mat-grid-list-text" [animateOnVisible]="'left'">
      <mat-grid-tile colspan="12" rowspan="1">
        <h1 class="auxilio">Luciana Salgado</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="5">
        <h4 class="textoComum">
          Professora Assistente do Departamento de Ciência da Computação (DCC) da Universidade Federal Fluminense (UFF), onde leciona e pesquisa na área de Interação Humano-Computador (IHC). Ela é a líder do SERG.uff, um Grupo de Pesquisa em Engenharia Semiótica afiliado ao SERG (PUC-Rio). Seus atuais interesses de pesquisa envolvem questões culturais e de gênero em IHC; Teoria e Métodos de Engenharia Semiótica; e-Saúde e Bem-Estar; Computação Social e consequências adversas em torno do fenômeno das mídias sociais (privacidade, reputação, engajamento e assim por diante); Aquisição de Raciocínio Computacional, Interação Humano-Dados; e, E-Gov. Ela é membro do Comitê Especial Brasileiro de Interação Humano-Computador (CEIHC) da Sociedade Brasileira de Computação (SBC), Editora-Chefe do Journal on Interactive Systems (JIS) desde 2020, Coordenadora do Projeto #include
        </h4>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="50px" class="mat-grid-list-image" [animateOnVisible]="'left'">
      <mat-grid-tile colspan="12" rowspan="9">
        <img [src]="luciana" />
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
    </mat-grid-tile>
  </mat-grid-list>

  <div class="flex-container">
    <mat-grid-list cols="12" rowHeight="50px" class="mat-grid-list-image" [animateOnVisible]="'right'">
      <mat-grid-tile colspan="12" rowspan="9">
        <img [src]="rodrigo" class="graficoLS"/>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="60px" class="mat-grid-list-text" [animateOnVisible]="'right'">
      <mat-grid-tile colspan="12" rowspan="1">
        <h1 class="auxilio">Rodrigo Oliveira</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="5">
        <h4 class="textoComum">
          Doutorando em Computação na UFF, Mestre em Informática pela UFRJ, possui Bacharel em Sistemas de Informação pela UNIRIO (2018) e Graduado em Design Gráfico pela Universidade do Grande Rio, UNIGRANRIO (2013).
          Uma carreira desenvolvida na área de Design e Tecnologia, integrando o mercado e a pesquisa acadêmica. Com experiência em comunicação visual, marketing, design de interação (UX e UI) e desenvolvimento de software. Tem ampla experiência em gerência de processos de negócios, com ênfase em melhorias e transparência da informação. Atua como Assistente de visualização de dados para Business Intelligence (BI) na Startup Prontlife (COPPE-UFRJ) e Coordenador de Educação a Distância (EaD) no Colégio e Curso Progressão.
        </h4>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
