<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="150px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Use a mesma cor para a mesma informação</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Se no seu gráfico você está usando uma paleta de cor azul para o público masculino e roxo para o feminino, use essas mesmas cores em outras figuras com esses dados. Mantenha a consistência visual para o seu leitor
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Ele não precisará associar uma nova cor a informação a cada figura e terá representações com o mínimo de interferência visual possível umas com as outras
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="65%" height="65%">
          <p class="textoComum">
            Se você usar uma cor para chamar atenção do seu público, use a mesma durante toda a comunicação. O leitor aprende rápido o que cada informação significas
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




