<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="150px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Elimine a legenda, quando possível, rotulando diretamente os elementos representados </p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          As legendas sempre colocam uma carga mental extra no leitor. Ao ler uma legenda, o leitor precisa coletar informações em uma parte do gráfico e depois transferir para uma parte diferente.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Normalmente, podemos facilitar a vida de nossos leitores se eliminarmos a legenda e acrescentarmos rótulos de textos diretamente os elementos, eixos e formas da figura que sirvam como guias para o restante da figura.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="85%" height="85%"><br>
          <p class="textoComum">
            Uma boa prática é em um gráfico de linhas, colocar o nome de cada dado ao lado de sua respectiva linha e assim evitar uma legenda desnecessária. Fique atento, pois nem sempre os softwares ou sistemas que você utiliza fazem essa ação por padrão ou permitem que você edite desta forma o seu gráfico.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>
