.caixaConteudo {
  max-width: 1000px;
  margin: auto !important;
  margin-top: 20px !important;
}

.textoComum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14px;
  height: 60px;
  margin: 2%;
}

.caixaConteudoDireita,
.caixaConteudoEsquerda {
  max-width: 48.5%;
  margin-top: 20px !important;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.caixaConteudoDireita {
  margin-left: 25%;
}

.caixaConteudoEsquerda {
  margin-left: 25%;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.tituloCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  height: 100px;
  color: #08294A;
  line-height: 1.2;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.tituloCard2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  height: 100px;
  color: #08294A;
  line-height: 1.2;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.tituloCard2.animate {
  opacity: 1;
  transform: translateY(0);
}

.titulo-animado {
  opacity: 1;
  transform: translateY(0);
}

.botaoMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 300;
  height: 40px;
  background-color: green;
  color: white;
}

.blocoImagemTexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.blocoImagemTexto p {
  text-align: justify;
}

.blocoImagemTexto img {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
