<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Modifique pontos específicos</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="80px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Podemos ainda alterar pontos específicos de alguns tipos de gráficos
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="80px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Apresentamos aqui recomendações e boas práticas separadamente pelos tipos mais comuns e que precisam de um olhar mais de perto
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <br>

  <!--PARA PRIMEIRA PARTE 91-->
  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Recomendações para Gráficos de Barras Verticais, Horizontais ou Empilhadas</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="6">
        <div class="blocoImagemTexto">
          <img [src]="exemplo2" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo3" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="112px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo4" width="95%" height="97%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12" rowspan="4">
        <div class="blocoImagemTexto">
          <img [src]="exemplo5" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="115px">
      <mat-grid-tile colspan="12" rowspan="4">
        <div class="blocoImagemTexto">
          <img [src]="exemplo6" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>



  <!--PARA A PRIMEIRA PARTE 91-->

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
    </mat-grid-tile>
  </mat-grid-list>


  <!--PARA A SEGUNDA PARTE 92-->

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Recomendações para Gráficos de Pizza</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo7" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="115px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo8" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="115px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo9" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="105px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo10" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <!--PARA A SEGUNDA PARTE 92-->

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
    </mat-grid-tile>
  </mat-grid-list>


  <!--PARA A TERCEIRA PARTE 93-->

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Recomendações para Gráficos de Linhas</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="7">
        <div class="blocoImagemTexto">
          <img [src]="exemplo11" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo12" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="105px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo13" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="105px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo14" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="105px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo15" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="105px">
      <mat-grid-tile colspan="12" rowspan="7">
        <div class="blocoImagemTexto">
          <img [src]="exemplo16" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="102px">
      <mat-grid-tile colspan="12" rowspan="6">
        <div class="blocoImagemTexto">
          <img [src]="exemplo17" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <!--PARA A TERCEIRA PARTE 93-->

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
    </mat-grid-tile>
  </mat-grid-list>


  <!--PARA A QUARTA PARTE 94-->

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Recomendações para Mapas Coropléticos ou Coloridos e Mapas de Símbolos Proporcionais</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="82px">
      <mat-grid-tile colspan="12" rowspan="7">
        <div class="blocoImagemTexto">
          <img [src]="exemplo18" width="95%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="102px">
      <mat-grid-tile colspan="12" rowspan="13">
        <div class="blocoImagemTexto">
          <img [src]="exemplo19" width="160%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="98px">
      <mat-grid-tile colspan="12" rowspan="11">
        <div class="blocoImagemTexto">
          <img [src]="exemplo20" width="110%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="103px">
      <mat-grid-tile colspan="12" rowspan="3">
        <div class="blocoImagemTexto">
          <img [src]="exemplo21" width="105%" height="95%">
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <!--PARA A QUARTA PARTE 94-->

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




