<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Garanta que as cores funcionam para pessoas com deficiência ou daltonismo</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          No Brasil, cerca de 8% da população possui alguma dificuldade em distinguir certos tipos de cores, por exemplo, variações de azul e amarelo ou azul e verde. A mais comum, principalmente em homens, é o daltonismo que envolve a incapacidade de distinguir entre tons de vermelho e verde.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Para não prejudicar a interpretação desses leitores, faça pequenas modificações nas cores para que elas tenham contrastes seguros para todas as formas de deficiência de visão colorida. Você pode contar com várias boas paletas de cores seguras para deficiências disponíveis. Veja abaixo alguns sistemas que oferecem paletas prontas:
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Entretanto, apenas escolher uma boa paleta não garante sucesso! É possível usar uma delas e mesmo assim produzir uma figura que algum daltônico não consiga ler. Logo, você pode testar diretamente com usuários ou realizar simulações para ter uma ideia de como elas podem ser para uma pessoa com alguma deficiência. Alguns aplicativos podem te ajudar com isso:
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="10">
        <div class="blocoImagemTexto2">
          <div class="grupo-imagens">
            <img [src]="exemplo2" width="40%" height="40%">
            <img [src]="exemplo2" width="40%" height="40%">
          </div>
          <p class="textoComum">
            Entretanto, apenas escolher uma boa paleta não garante sucesso! É possível usar uma delas e mesmo assim produzir uma figura que algum daltônico não consiga ler. Logo, você pode testar diretamente com usuários ou realizar simulações para ter uma ideia de como elas podem ser para uma pessoa com alguma deficiência. Alguns aplicativos podem te ajudar com isso:
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="65%" height="65%">
          <p class="textoComum">
            Perceba que no primeiro gráfico todas as regiões possuem o mesmo formato de círculos, diferenciadas unicamente pelas cores. Enquanto no segundo exemplo além de coloridos de forma diferente os símbolos também são distintos (círculo, quadrado e triângulo).
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>



  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo</button>
    </mat-grid-tile>
  </mat-grid-list>




