<mat-toolbar color="primary" class="toolbar">
  <span class="title">[nome do portal TBA]</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/exemplos">Catalogo Interativo</a>
  <a mat-button routerLink="/catalogo">Catálogo Detalhado</a>
  <a mat-button routerLink="/checklist" id="base">Checklist</a>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div style="background-color:black;width:100%;height:220px">

</div>
