.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  background-color: black
}

.title {
  font-size: 20px;
  font-weight: 500;
  padding-left: 10%;
}

.spacer {
  flex: 1 1 auto;
}

a[mat-button] {
  color: white;
  font-weight: 500;
  text-transform: none;
}

a#base{
  padding-right: 10%
}

.content {
  padding: 24px;
}
.blocoImagemTexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.blocoImagemTexto p {
  text-align: justify;
}

.blocoImagemTexto img {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.textoComum {
  display: flex;
  justify-content: center;   /* Alinha horizontalmente */
  align-items: center;       /* Alinha verticalmente */
  text-align: center!important;        /* Alinha o texto dentro do elemento */
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14px;
  height: 60px;
  margin: 2%;
}

.textoComumJust {
  font-family: 'Poppins';
}
