<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="150px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Adicione um título para o Gráfico</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          O título é um dos itens mais importantes para a sua comunicação. Geralmente será o primeiro elemento que a sua audiência irá ler e através dele ter uma ideia do que será comunicado. Veja as principais recomendações para criar um título adequado
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="150px">
      <mat-grid-tile colspan="12">
        <ul class="textoComum">
          <li>Adicione apenas um título, com uma frase curta e geralmente com um tamanho de fonte maior que o restante do gráfico. </li>
          <li>Transmita com clareza para o leitor sobre o que é a figura, indicando o que ela está representando graficamente.</li>
          <li>Evite títulos descritivos ou redundantes, use sempre frases informativas e fuja de frases como tópicos que contenham palavras como por exemplo, “Objetivo”, “Dados Gerais” ou “Comparativo”. Estes títulos são vagos e não ajudam a saber o que teremos de fato no conteúdo, prefira títulos dos seguintes tipos:</li>
        </ul>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="150px">
      <mat-grid-tile colspan="12">
        <ul class="textoComum">
          <li>Título de perguntas: Se você conhece as perguntas que sua audiência pode fazer use-as no título. Títulos como esses ajudarão o seu leitor a encontrar rapidamente as informações que procura. </li>
          <li>Título de declarações: Define em poucas palavras o conteúdo que vem em seguida, ou seja, se você tem alguma recomendação, evidência ou algo que seu público precisa fazer coloque direto no título</li>
          <li>Posicione o título em destaque. O título deve estar distante o suficiente de qualquer linha ou rótulo para não ser confundido visualmente com outras partes do gráfico.</li>
        </ul>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="65%" height="65%"><br>
          <br>
          <p class="textoComum">
            Na segunda figura, fica muito mais claro sobre o que estamos comunicando e até mesmo quais dados do gráfico são mais importantes, neste caso, a baixa quantidade de clientes ativos da faixa etária de 18 a 29 anos. O título usado é do tipo “Títulos de declarações” mostrando o que deve ser feito a partir do que os dados mostram.
            Outro tipo de título que poderia ser utilizado é o “Título de Perguntas” onde você poderia perguntar: Como expandir a base de Clientes para a Nova Geração?
            Você também pode usar subtítulos em seu gráfico, complementando as informações com uma frase ou parágrafo curto de tamanho menor abaixo do título.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




