<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Crie uma hierarquia visual destacando as informações que precisam de mais atenção</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          As informações que requerem atenção imediata devem ser exibidas nas áreas de maior destaque visual. Se há algo importante para o seu público saber ou ver, torne isso algo muito diferente do resto. Esse destaque geralmente é feito de algumas formas
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="530px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Formas de destacar elementos ou informações em um gráfico:
        </p>
          <ul class="textoComum">
            <li>Aumentar o tamanho em relação aos
              outros elementos próximos</li>
            <img [src]="complemento1" width="40%" height="215%">
            <li>Usar cores mais vibrantes</li>
            <img [src]="complemento2" width="40%" height="215%">
            <li>Tornar mais transparente os elementos
              sem destaque</li>
            <img [src]="complemento3" width="40%" height="215%">
          </ul>
          <br>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="120px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="85%" height="85%"><br><br>
          <p class="textoComum">
            Apresentar primeiro os destaques em áreas superiores do gráfico e deixar os detalhes adicionais para as linhas inferiores é uma estratégia eficaz para facilitar a leitura e a compreensão das informações. Essa organização respeita o fluxo natural de leitura, que tende a começar pelas partes superiores da tela ou da página. Além disso, ao reservar as partes inferiores do gráfico para informações complementares ou secundárias, o criador da visualização estabelece uma hierarquia clara de importância entre os dados apresentados. Isso ajuda o leitor a entender rapidamente o que deve ser priorizado e o que pode ser explorado com mais calma, caso haja interesse.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




