<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="150px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Use a legenda na mesma ordem dos seus dados</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="160px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          A utilização eficaz de gráficos na comunicação de dados depende não apenas da escolha adequada do tipo de gráfico, mas também da organização clara e coerente dos elementos visuais que o compõem. Um dos aspectos frequentemente negligenciados nesse processo é a ordem das legendas em relação aos dados representados.<br>Em muitos casos, os softwares de criação de gráficos geram automaticamente as legendas, baseando-se em critérios internos como ordem alfabética ou ordem de inserção dos dados, sem levar em conta a disposição visual real que será apresentada ao público. Isso pode causar confusão e dificultar a interpretação correta das informações, prejudicando a clareza da visualização.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="160px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          A falta de correspondência entre a legenda e a ordem visual dos dados pode comprometer significativamente a compreensão do gráfico. Quando o público observa um gráfico, espera-se que os elementos listados na legenda sigam a mesma sequência dos dados exibidos, especialmente em gráficos de barras, colunas ou setores.<br>Quando essa expectativa não é atendida, o leitor precisa fazer um esforço adicional para identificar corretamente cada categoria, o que pode levar à interpretação equivocada das informações ou até mesmo ao desinteresse pela análise.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="95%" height="95%"><br>
          <p class="textoComum">
            Para resolver essa questão e garantir que a visualização de dados seja mais intuitiva, é fundamental que o criador do gráfico intervenha manualmente na organização da legenda. A legenda deve ser reordenada de modo que siga a mesma sequência dos dados representados no gráfico. Essa ação simples contribui significativamente para uma leitura mais fluida e precisa
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>
