<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Use as conotações culturais das cores ao seu favor</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          A cor deve ser usada apenas para se comunicar e não por pura estética. Se possível, siga os significados culturais ou naturais de cores específicas com base no público-alvo. Por exemplo, o público ocidental pode associar a cor vermelha ao perigo, enquanto para o público oriental pode significar boa sorte.        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Essas convenções não precisam sempre ser seguidas, mas se conscientizar delas pode minimizar desconfortos para o leitor
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="80%" height="80%">
          <p class="textoComum">
            Muitas vezes em nossa cultura associamos os tons de azul ao gênero masculino e rosa ao feminino. Em certas situações demarcar visualmente essas cores pode ajudar o público a reconhecer mais facilmente as informações.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo2" width="80%" height="80%"><br>
          <p class="textoComum">
            Neste exemplo, para representar um alerta sobre a condição do faturamento foi adicionado faixas coloridas de acordo com o sinal de trânsito, vermelho para alerta ou situação crítica, amarelo para atenção e cuidado e verde para um bom faturamento ou situação o momento dentro do esperado. Utilizar essas cores já estabelecidas na cultura popular ajuda a trazer mais significado para o gráfico e a ser naturalmente compreendido pelo seu público.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




