<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">CHECKLIST</p>
    </mat-grid-tile>

  </mat-grid-list>


  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <h4 class="textoComum">
        Esta aba servirá de apoio durante o processo de criação de graficos em Linguagem Simples <br>
        Durante o processo, marque as diretivas que você aplicou que ajudaremos a encontrar demais pontos de melhorias
      </h4>
    </mat-grid-tile>

  </mat-grid-list>

</div>



<div class="caixaConteudo">
  <div style="display: flex; gap: 20px; align-items: stretch;" class="dummy">

    <!-- Coluna do checklist -->
    <div style="flex: 1;" class="fontePadrao">
      <div class="p-4 max-w-3xl mx-auto">
        <h2 class="text-xl font-bold mb-4">Checklist de Boas Práticas</h2>
        <form>
          <div *ngFor="let section of checklist; let i = index" class="mb-6">
            <h3 class="font-semibold text-lg">{{ section.topic }}</h3>
            <div class="pl-4 flex flex-col gap-1">
              <label *ngFor="let item of section.items; let j = index">
                <input
                  type="checkbox"
                  [(ngModel)]="section.selected[j]"
                  name="topic{{i}}_{{j}}"
                  (change)="onCheckboxChange()"
                  (click)="generateFeedback()"
                  class="mr-2"
                />
                {{ item }}<br>
              </label>
            </div>
          </div>
        </form>
        <br>
        <mat-card *ngIf="feedback" class="mt-6 feedback-card">
          <div [innerHTML]="feedback"></div>
        </mat-card>
      </div>
    </div>

    <!-- Coluna da imagem -->
    <div style="flex: 1; display: flex; align-items: stretch;">
      <img
        [src]="grafico"
        style="width: 120%; height: 100%; object-fit: fill;"
      />
    </div>

  </div>
</div>

<br>

<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="50px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard2">PONTO DE PARTIDA</p>
    </mat-grid-tile>

  </mat-grid-list>


  <mat-grid-list cols="12" rowHeight="80px">

    <mat-grid-tile colspan="12">
      <h4 class="textoComum">
        Essa aba servirá para indicar a você o melhor tipo de gráfico que você poderá usar dependendo do tipo de dado que você quer representar
      </h4>
    </mat-grid-tile>

  </mat-grid-list>

</div>


<div class="caixaConteudo">

  <mat-card *ngIf="etapa < 4" class="formularioIndicativo">
    <h2>O que deseja mostrar para o seu público?</h2>

    <div *ngIf="etapa === 1">
      <button mat-raised-button *ngFor="let opcao of opcoes1" (click)="avancarEtapa1(opcao)" class="botao-interativo">
        {{ opcao }}
      </button>
    </div>

    <div *ngIf="etapa === 2">
      <ng-container [ngSwitch]="escolha1">
        <div *ngSwitchCase="'Comparacao entre dados'">
          <div class="botoes-container">
            <button mat-raised-button (click)="avancarEtapa2('Categorias e valores')"  @slideInLeft class="botao-interativo">Comparação entre categorias e valores</button>
            <button mat-raised-button (click)="avancarEtapa2('Ao longo do tempo')"  @slideInLeft class="botao-interativo">Comparação de valores ao longo do tempo</button>
          </div>
        </div>
        <div *ngSwitchCase="'Composicao dos dados'">
          <button mat-raised-button (click)="avancarEtapa2('Ao longo do tempo')"  @slideInLeft class="botao-interativo">Dados compostos ao longo do tempo</button>
          <button mat-raised-button (click)="avancarEtapa2('Fixo ou estatico no tempo')"  @slideInLeft class="botao-interativo">Dados fixos ou estaticos no tempo</button>
        </div>
        <div *ngSwitchCase="'Distribuicao dos dados'">
          <button mat-raised-button (click)="avancarEtapa2('um dado')"  @slideInLeft class="botao-interativo">Distribuição de um dado</button>
          <button mat-raised-button (click)="avancarEtapa2('dois dados')"  @slideInLeft class="botao-interativo">Distribuição de varios dados</button>
        </div>
        <div *ngSwitchCase="'Relacionamento entre dados'">
          <button mat-raised-button (click)="avancarEtapa2('Dois dados')"  @slideInLeft class="botao-interativo">Relacionamento entre dois dados</button>
          <button mat-raised-button (click)="avancarEtapa2('Tres ou mais dados')"  @slideInLeft class="botao-interativo"> Relacionamento entre tres ou mais dados</button>
        </div>
        <div *ngSwitchCase="'Dados em Localizacao Espacial'">
          <div class="botoes-container">
            <button mat-raised-button (click)="avancarEtapa2('Dados geograficos para areas grandes')" class="botao-opcao"  @slideInLeft class="botao-interativo">
              Dados geograficos para areas grandes
            </button>
            <button mat-raised-button (click)="avancarEtapa2('Dados geograficos para areas especificas')" class="botao-opcao"  @slideInLeft class="botao-interativo">
              Dados geograficos para areas especificas
            </button>
          </div>
        </div>
      </ng-container>
    </div>

    <div *ngIf="etapa === 3">
      <ng-container [ngSwitch]="escolha1 + '|' + escolha2">
        <!-- Comparacao + Categorias e valores -->
        <div *ngSwitchCase="'Comparacao entre dados|Categorias e valores'">
          <div class="botoes-container">
            <button mat-raised-button (click)="avancarEtapa3('Poucas Informacoes')"  @slideInLeft class="botao-interativo">Comparação entre poucas informacoes</button>
            <button mat-raised-button (click)="avancarEtapa3('Muitas Informacoes')"  @slideInLeft class="botao-interativo">Comparação entre muitas Informacoes</button>
          </div>
        </div>
        <!-- Comparacao + Ao longo do tempo -->
        <div *ngSwitchCase="'Comparacao entre dados|Ao longo do tempo'">
          <button mat-raised-button (click)="avancarEtapa3('Um dado')"  @slideInLeft class="botao-interativo">Comparacao de um dado</button>
          <button mat-raised-button (click)="avancarEtapa3('Dois dados')"  @slideInLeft class="botao-interativo">Comparação de dois dados</button>
        </div>
        <!-- Composicao + Ao longo do tempo -->
        <div *ngSwitchCase="'Composicao dos dados|Ao longo do tempo'">
          <div class="botoes-container">
            <button mat-raised-button (click)="avancarEtapa3('Poucas Informacoes')"  @slideInLeft class="botao-interativo">Dados compostos de poucas informacoes</button>
            <button mat-raised-button (click)="avancarEtapa3('Muitas Informacoes')"  @slideInLeft class="botao-interativo">Dados compostos de muitas Informacoes</button>
          </div>
        </div>
        <!-- Composicao + Fixo ou estatico no tempo -->
        <div *ngSwitchCase="'Composicao dos dados|Fixo ou estatico no tempo'">
          <div class="botoes-container">
            <button mat-raised-button (click)="avancarEtapa3('Partes Simples do total')"  @slideInLeft class="botao-interativo">Composição de partes simples do total</button>
            <button mat-raised-button (click)="avancarEtapa3('Varias partes do total')"  @slideInLeft class="botao-interativo">Composição de varias partes do total</button>
          </div>
        </div>
        <!-- Distribuicao + um dado -->
        <div *ngSwitchCase="'Distribuicao dos dados|um dado'">
          <button mat-raised-button (click)="avancarEtapa3('poucas informacoes')"  @slideInLeft class="botao-interativo">Distribuição de poucas informacoes</button>
          <button mat-raised-button (click)="avancarEtapa3('muitas informacoes')"  @slideInLeft class="botao-interativo">Distribuição de muitas informacoes</button>
        </div>
      </ng-container>
    </div>
  </mat-card>

  <mat-card *ngIf="etapa === 4" class="formularioIndicativo">
    <h2  @slideInLeft>Sugestão de gráfico</h2>
    <div class="resultado-final">
      <img [src]="retornaImagemGrafico()" alt="Sugestão de gráfico"  @slideInRight />
      <p @slideInRight><strong>{{ respostaFinal | uppercase }}</strong></p>
    </div>
    <div style="display: flex;">
      <button mat-raised-button class="botaoConfirmar" (click)="irParaPagina()" @slideInLeft>Clique aqui para conferir algumas dicas na criação do gráfico</button>
      <button mat-raised-button class="botaoReiniciar" (click)="reiniciar()" @slideInLeft>Reiniciar Formulário</button>
    </div>
  </mat-card>


</div>



