<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Lista de Verificação</p>
    </mat-grid-tile>

  </mat-grid-list>


  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <h4 class="textoComum">
        Esta aba servirá de apoio durante o processo de criação de graficos em Linguagem Simples <br>
        Durante o processo, marque as diretivas que você aplicou que ajudaremos a encontrar demais pontos de melhorias
      </h4>
    </mat-grid-tile>

  </mat-grid-list>

</div>


<div class="dummy">
  <div class="caixaConteudo">

    <!-- Coluna do checklist -->
    <div>
      <div class="p-4 max-w-3xl mx-auto">

        <div *ngFor="let bloco of blocos">
          <div class="bloco-lado-a-lado">
            <img [src]="classeImagem(bloco.titulo)" class="imagem-lateral" />
            <h3 style="color:#08294A;font-size:22px;  font-weight: 700;">{{bloco.titulo}}</h3>
          </div>

          <div *ngFor="let pergunta of bloco.perguntas">
            <p style="font-size: 16px;color: #08294A; font-weight: 700;">{{ pergunta.texto }}</p>

            <label style="font-family:'Poppins';font-weight: 300;font-size: 16px;color: #08294A!important;">
              <input
                type="radio"
                [name]="'pergunta-' + pergunta.id"
                value="sim"
                [(ngModel)]="pergunta.resposta"
                (ngModelChange)="calcularPontuacoesPorBloco()"
              /> Sim
            </label>

            <label style="font-family:'Poppins';font-weight: 300;font-size: 16px;color: #08294A!important;">
              <input
                type="radio"
                [name]="'pergunta-' + pergunta.id"
                value="nao"
                [(ngModel)]="pergunta.resposta"
                (ngModelChange)="calcularPontuacoesPorBloco()"
              /> Não
            </label>

            <label style="font-family:'Poppins';font-weight: 300;font-size: 16px;color: #08294A!important;">
              <input
                type="radio"
                [name]="'pergunta-' + pergunta.id"
                value="nao_se_aplica"
                [(ngModel)]="pergunta.resposta"
                (ngModelChange)="calcularPontuacoesPorBloco()"
              /> Não se aplica
            </label>
          </div>

          <div *ngIf="bloco.pontuacao">
            <mat-card [class]="classeTitulo(bloco.titulo)">
              <mat-card-content>
                <p  @slideInLeft>{{retoranaTexto(bloco.pontuacao.sim/bloco.pontuacao.total, bloco.pontuacao.naoSeAplica, bloco.pontuacao.total)}}</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div *ngIf="!bloco.pontuacao">
            <mat-card [class]="classeTitulo(bloco.titulo)">
              <mat-card-content>
                <p  @slideInLeft>Selecione os itens que você aplicou</p>
              </mat-card-content>
            </mat-card>
          </div>
          <br><hr>
        </div>

      </div>
    </div>
  </div>
</div>

<br>

<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="50px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard2">Sugestão	de apresentação
    </mat-grid-tile>

  </mat-grid-list>


  <mat-grid-list cols="12" rowHeight="80px">

    <mat-grid-tile colspan="12">
      <h4 class="textoComum">
        Essa aba servirá para sugerir a você o melhor tipo de gráfico que você poderá usar dependendo do tipo de dado que você quer representar
      </h4>
    </mat-grid-tile>

  </mat-grid-list>

</div>


<div class="caixaConteudo">

  <mat-card *ngIf="etapa < 4" class="formularioIndicativo">
    <h2>O que deseja mostrar para o seu público?</h2>

    <div *ngIf="etapa === 1">
      <button mat-raised-button *ngFor="let opcao of opcoes1" (click)="avancarEtapa1(opcao)" class="botao-interativo">
        {{ opcao }}
      </button>
    </div>

    <div *ngIf="etapa === 2">
      <ng-container [ngSwitch]="escolha1">
        <div *ngSwitchCase="'Comparacao entre dados'">
          <div class="botoes-container">
            <button mat-raised-button (click)="avancarEtapa2('Categorias e valores')"  @slideInLeft class="botao-interativo">Comparação entre categorias e valores</button>
            <button mat-raised-button (click)="avancarEtapa2('Ao longo do tempo')"  @slideInLeft class="botao-interativo">Comparação de valores ao longo do tempo</button>
          </div>
        </div>
        <div *ngSwitchCase="'Composicao dos dados'">
          <button mat-raised-button (click)="avancarEtapa2('Ao longo do tempo')"  @slideInLeft class="botao-interativo">Dados compostos ao longo do tempo</button>
          <button mat-raised-button (click)="avancarEtapa2('Fixo ou estatico no tempo')"  @slideInLeft class="botao-interativo">Dados fixos ou estaticos no tempo</button>
        </div>
        <div *ngSwitchCase="'Distribuicao dos dados'">
          <button mat-raised-button (click)="avancarEtapa2('um dado')"  @slideInLeft class="botao-interativo">Distribuição de um dado</button>
          <button mat-raised-button (click)="avancarEtapa2('dois dados')"  @slideInLeft class="botao-interativo">Distribuição de varios dados</button>
        </div>
        <div *ngSwitchCase="'Relacionamento entre dados'">
          <button mat-raised-button (click)="avancarEtapa2('Dois dados')"  @slideInLeft class="botao-interativo">Relacionamento entre dois dados</button>
          <button mat-raised-button (click)="avancarEtapa2('Tres ou mais dados')"  @slideInLeft class="botao-interativo"> Relacionamento entre tres ou mais dados</button>
        </div>
        <div *ngSwitchCase="'Dados em Localizacao Espacial'">
          <div class="botoes-container">
            <button mat-raised-button (click)="avancarEtapa2('Dados geograficos para areas grandes')" class="botao-opcao"  @slideInLeft class="botao-interativo">
              Dados geograficos para areas grandes
            </button>
            <button mat-raised-button (click)="avancarEtapa2('Dados geograficos para areas especificas')" class="botao-opcao"  @slideInLeft class="botao-interativo">
              Dados geograficos para areas especificas
            </button>
          </div>
        </div>
      </ng-container>
    </div>

    <div *ngIf="etapa === 3">
      <ng-container [ngSwitch]="escolha1 + '|' + escolha2">
        <!-- Comparacao + Categorias e valores -->
        <div *ngSwitchCase="'Comparacao entre dados|Categorias e valores'">
          <div class="botoes-container">
            <button mat-raised-button (click)="avancarEtapa3('Poucas Informacoes')"  @slideInLeft class="botao-interativo">Comparação entre poucas informacoes</button>
            <button mat-raised-button (click)="avancarEtapa3('Muitas Informacoes')"  @slideInLeft class="botao-interativo">Comparação entre muitas Informacoes</button>
          </div>
        </div>
        <!-- Comparacao + Ao longo do tempo -->
        <div *ngSwitchCase="'Comparacao entre dados|Ao longo do tempo'">
          <button mat-raised-button (click)="avancarEtapa3('Um dado')"  @slideInLeft class="botao-interativo">Comparacao de um dado</button>
          <button mat-raised-button (click)="avancarEtapa3('Dois dados')"  @slideInLeft class="botao-interativo">Comparação de dois dados</button>
        </div>
        <!-- Composicao + Ao longo do tempo -->
        <div *ngSwitchCase="'Composicao dos dados|Ao longo do tempo'">
          <div class="botoes-container">
            <button mat-raised-button (click)="avancarEtapa3('Poucas Informacoes')"  @slideInLeft class="botao-interativo">Dados compostos de poucas informacoes</button>
            <button mat-raised-button (click)="avancarEtapa3('Muitas Informacoes')"  @slideInLeft class="botao-interativo">Dados compostos de muitas Informacoes</button>
          </div>
        </div>
        <!-- Composicao + Fixo ou estatico no tempo -->
        <div *ngSwitchCase="'Composicao dos dados|Fixo ou estatico no tempo'">
          <div class="botoes-container">
            <button mat-raised-button (click)="avancarEtapa3('Partes Simples do total')"  @slideInLeft class="botao-interativo">Composição de partes simples do total</button>
            <button mat-raised-button (click)="avancarEtapa3('Varias partes do total')"  @slideInLeft class="botao-interativo">Composição de varias partes do total</button>
          </div>
        </div>
        <!-- Distribuicao + um dado -->
        <div *ngSwitchCase="'Distribuicao dos dados|um dado'">
          <button mat-raised-button (click)="avancarEtapa3('poucas informacoes')"  @slideInLeft class="botao-interativo">Distribuição de poucas informacoes</button>
          <button mat-raised-button (click)="avancarEtapa3('muitas informacoes')"  @slideInLeft class="botao-interativo">Distribuição de muitas informacoes</button>
        </div>
      </ng-container>
    </div>
  </mat-card>

  <mat-card *ngIf="etapa === 4" class="formularioIndicativo">
    <h2  @slideInLeft>Sugestão de gráfico</h2>
    <div class="resultado-final">
      <img [src]="retornaImagemGrafico()" alt="Sugestão de gráfico"  @slideInRight />
      <p @slideInRight><strong>{{ respostaFinal | uppercase }}</strong></p>
    </div>
    <div style="display: flex;">
      <button mat-raised-button class="botaoConfirmar" (click)="irParaPagina()" @slideInLeft>Clique aqui para conferir algumas dicas na criação do gráfico</button>
      <button mat-raised-button class="botaoReiniciar" (click)="reiniciar()" @slideInLeft>Reiniciar Formulário</button>
    </div>
  </mat-card>


</div>



