<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="150px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Não mostre muitos dados de uma só vez ou elementos desnecessários</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Ao criar um gráfico todos os elementos devem ser essenciais. Caso contrário, essa saturação pode fazer nossa imagem parecer mais complicada do que o necessário
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Podemos dividir os elementos de qualquer gráfico em elementos que representam dados (pontos, barras ou as áreas sombreadas em um gráfico) e elementos que não (linhas de eixo, rótulos, títulos, legenda). Esses últimos geralmente fornecem contexto para os dados. Faça o possível para remover elementos que não sejam dados sem diminuir sua clareza
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="120px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="95%" height="95%">
          <p class="textoComum">
            Essas e outras ações podem limpar o visual para destacar o que realmente importa, os dados. Assim você ajuda a reduzir o esforço cognitivo dos leitores e facilita no reconhecimento de padrões:
          </p>
          <ul class="textoComum">
            <li>Retire as bordas do gráfico que sejam desnecessárias</li>
            <li>Remova as linhas de grade ou coloque- as de uma cor mais clara</li>
            <li>Retire rótulos dos dados em excesso ou elementos sobrepostos</li>
            <li>Diminua os rótulos de texto, se for o caso</li>
          </ul>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




