<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Garanta que não há cores se destacando sobre outras, apenas em dados importantes</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
         Para que nenhuma cor se destaque em relação às outras quando não há essa intenção. Contudo, se há informações importantes que deseja reforçar para fortalecer a história que está comunicando para o leitor destaque essa informação.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Cuidado para não competir pela atenção do leitor com as demais cores.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="65%" height="65%">
          <p class="textoComum">
            Uma maneira fácil de conseguir esse destaque é diminuir os tons de todos os elementos na figura, exceto nos dados a serem destacados ou colorir esses elementos com uma cor ou tom diferente do restante da figura.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




