<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Explique o significado ou como funcionam os gráficos.</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Considerando o público para quem esse gráfico foi criado, pode ser interessante adicionar um parágrafo curto com os destaques ou pontos importantes que serão comunicados ou então um texto explicativo sobre como fazer a leitura do mapa.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="120px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="55%" height="55%">
          <p class="textoComum">
            Suponha que você crie este infográfico para ser mostrado em um programa de jornalismo local que atinge grandes massas. Pode ser interessante adicionar um parágrafo curto com os destaques ou pontos importantes que serão comunicados ou então um texto explicativo sobre como fazer a leitura do mapa.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo2" width="65%" height="65%"><br>
          <p class="textoComum">
            A adição destes pequenos paragrafos torna a leitura muito mais simples e ajuda o leitor da informação absorver mais rapidamente o que quer ser demonstrado
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




