<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Rotule cada eixo com títulos e suas unidades</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Gráficos sem eixos com nomes tendem a deixar uma sensação de incerteza. É ruim fazer seu leitor adivinhar o que você quer dizer. Os rótulos nos eixos com títulos e as unidades correspondentes devem explicar quais são os dados exibidos e como eles são apresentados graficamente na sua figura. Isso é uma boa prática e deve ser feito sempre que possível. Inclua sinais de moeda (R$, U$, etc), de temperatura (ºC ou ºF), de tempo (Anual, Semanal, Mensal, etc) de porcentagem (%) e pontos em números grandes. , caso necessário.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Algumas variáveis como sexo não requerem unidades ou em outros casos as legendas podem ser omitidas pois, os próprios dados são totalmente explicativos. É comum em redes sociais e outros veículos de comunicação usarem a letra “K” junto a um número para representar o valor mil, por exemplo, 200 mil é representado por 200K. Se o seu público pode não estar familiarizado com essa representação evite usá-la ou quando fizer explique o seu significado.</p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="65%" height="65%"><br>
          <p class="textoComum">
            Os rótulos nos eixos devem ser colocados mais perto do eixo que rotulam do que qualquer outra coisa, garantindo que sejam agrupados visualmente. Dê preferência a usar apenas uma palavra curta nos rótulos, em caso de palavras grandes, rotacionar ou manter rótulos paralelos aos seus eixos também são uma opção.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




