<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="150px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Ajuste o plano de fundo de acordo com os outros elementos do gráfico</p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="130px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Escolha o fundo dos seus gráficos com atenção, eles precisam ter um bom contraste com os demais elementos para não dificultar a leitura. Como princípio geral, mantenha os elementos na cor escura e as áreas de fundo de cores claras como o branco ou cinza claro, principalmente quando as figuras forem impressas em papel branco.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="95%" height="95%"><br>
          <p class="textoComum">
            Para visualização on-line um fundo escuro com os elementos em cores mais claras pode ser também uma opção, áreas de fundo preto ou azul escuro podem ser preferíveis
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




