<div class="caixaConteudo">
  <mat-grid-list cols="12" rowHeight="150px">

    <mat-grid-tile colspan="12">
      <p class="tituloCard">Diferencie claramente os tons das cores em qualquer paleta </p>
    </mat-grid-tile>

  </mat-grid-list>
</div>

  <div class="caixaConteudoDireita">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12">
        <p class="textoComum">
          Seja nas paletas de cores qualitativas, aquelas com várias cores, ou nas paletas sequenciais ou divergentes, aquelas com uma ou duas cores variando o tom, a diferença entre cada tonalidade precisa ser a melhor possível, para evitar ambiguidades e dificuldade na interpretação do seu gráfico.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="caixaConteudo">
    <mat-grid-list cols="12" rowHeight="100px">

      <mat-grid-tile colspan="12">
        <p class="tituloCard2">Aplicação do conceito</p>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="caixaConteudoEsquerda">
    <mat-grid-list cols="12" rowHeight="110px">
      <mat-grid-tile colspan="12" rowspan="5">
        <div class="blocoImagemTexto">
          <img [src]="exemplo1" width="80%" height="80%"><br>
          <p class="textoComum">
            A escolha de uma escala de cores adequada na paleta utilizada contribui para uma visualização mais clara e facilita a absorção das informações pelo público-alvo. Quando as cores escolhidas são muito semelhantes dentro do ciclo cromático, há o risco de que a informação se torne confusa e difícil de ser interpretada corretamente.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12">
        <button mat-button routerLink="/catalogo" class="botaoMenu">Catálogo Detalhado</button>
    </mat-grid-tile>
  </mat-grid-list>




